{% extends 'base.html' %}
{% block header %}
    {% block title %} {% endblock title %}
{% endblock header %}
{% block content %}
    <hr>
    <form name="get_coin" action="/" method="POST">
        <label> Para walutowa: </label>
        <input name="coin1" id="coin1" required>-<input name="coin2" id="coin2">
        <label> Giełda: </label>
        <select name="exchanges" size="3" multiple>
            {% for exchange in exchanges_list %}
            <option value="{{ exchange }}">{{ exchange }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Wyszukaj">
    </form>
    <hr>
    {% block stats_chart %}
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% if request.method == 'POST' and symbol and exchanges %}
        <p> Para: {{ symbol }} </p>
        <p> Giełda: {% for exchange in exchanges %}
            {{ exchange }}{% if not loop.last %}, {% else %}
            {% endif %}
            {% endfor %}
        </p>
        <div id='price_chart' class='chart'></div>
        <script type='text/javascript'>
            var graphs = {{ graph_price_json | safe}};
            Plotly.plot('price_chart',graphs,{});
        </script>
        <div id='vol_chart' class='chart'></div>
        <script type='text/javascript'>
            var graphs = {{ graph_vol_json | safe}};
            Plotly.plot('vol_chart',graphs,{});
        </script>
    {% endif %}
    {% endblock stats_chart %}
{% endblock content %}
