{% extends 'base.html' %}
{% block header %}
    {% block title %} {% endblock title %}

{% endblock header %}
{% block content %}
    <hr>
    <form name="get_coin" action="/" method="POST">
        <input name="pair" id="pair" style="text" size=30 pattern="[a-zA-Z0-9]{1,7}-[a-zA-Z0-9]{1,7}" placeholder="Para, np. BTC-USDT" required>
        {% for exchange in exchanges_list %}
            <label><input type="checkbox" value="{{ exchange }}" name="exchanges">{{ exchange }}</input></label>
        {% endfor %}
        <input type="date" name="begin-date" value="{{ begin_date }}">
        <input type="date" name="end-date" value="{{ end_date }}">
        <select name="interval">
            {% for interval in intervals_list %}
                {% if interval == '1 day' %}
                    <label><option value="{{ interval }}" selected>{{ interval }}</option></label>
                {% else %}
                    <label><option value="{{ interval }}">{{ interval }}</option></label>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Wyszukaj">
    </form>
    <hr>
    {% for message in messages %}
        <div style="color: green;">{{ message }}</div>
    {% endfor %}
    {% for message in get_flashed_messages() %}
        <div class="flash" style="color: red;">{{ message }}</div>
    {% endfor %}
    {% if request.method == 'POST' and symbol and exchanges %}
        <p> Para: {{ symbol }} </p>
        <table>
            <tr>
                <th>Giełda</th>
                <th>Aktualna cena [{{ quote_currency }}]</th>
                <th>Zmiana ceny (24h) [{{ quote_currency }}]</th>
                <th>Wolumen</th>
            </tr>
            {% for exchange in stats_data.keys() %}
            <tr style="color: {{ exchanges_colors[exchange] }}">
                <td> <b> {{ exchange }} </b></td>
                <td> {{ stats_data[exchange].last_price }} </td>
                <td> {{ stats_data[exchange].change_price_24 }} </td>
                <td> {{ stats_data[exchange].volume }} </td>
            </tr>
            {% endfor %}
        </table>
        {% block stats_chart %}
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <div id='price_chart' class='chart'></div>
            <script type='text/javascript'>
                var graphs = {{ graph_price_json | safe}};
                Plotly.plot('price_chart',graphs,{});
            </script>
            <div id='vol_chart' class='chart'></div>
            <script type='text/javascript'>
                var graphs = {{ graph_vol_json | safe}};
                Plotly.plot('vol_chart',graphs,{});
            </script>
            <a href="{{ url_for('coins.get_pdf', **content) }}">Zapisz jako PDF</a>
        {% endblock stats_chart %}
    {% endif %}
{% endblock content %}
