html { font-family: sans-serif; padding: 1rem; }
.content {
  max-width: 80%;
  margin: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}
